<div class="container my-4">
  <table class="table table-stripped table-hover table-bordered" id="seriesTable">
    <thead>
      <tr>
        <th>#</th>
        <th>Series Name</th>
        <th>Channel</th>
        <th>Seasons</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let series of series">
        <td class="id-column">{{series.id}}</td>
        <td class="nombre-column">{{series.nombre}}</td>
        <td>{{series.plataforma}}</td>
        <td>{{series.temporadas}}</td>
      </tr>
    </tbody>
  </table>
</div>